@font-face {
    font-family: 'Product Sans';
    src: url(../../assets/fonts/Product_Sans.ttf);
}

@font-face {
    font-family: 'Gobold';
    src: url(../../assets/fonts/Gobold_Regular.otf);
}


.product{
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    

    @media screen and (max-width: 990px){
        flex-wrap: wrap;
    }

    .product-card{
        padding: 30px;
        width: 800px;
        border: none;
        border-radius: 7px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);

        @media screen and (max-width: 990px){
            width: 500px;
        }

        @media screen and (max-width: 900px){
            width: 440px;
        }

        @media screen and (max-width: 820px){
            width: 500px;
            margin-top: 30px;
        }

        .header{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0;
            margin-bottom: 20px;
            font-family: 'Product Sans';
            font-size: 1.7rem;
            font-weight: 500;
            color: #000;
            height: 50px;
            line-height: 50px;

            svg{
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover{
                    transform: scale(1.2);
                }
            }
        }

        .product-details{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 20px;

            .product-image{
                width: 370px;
                height: 370px;
                background-color: #f1f1f1;
                border-radius: 7px;
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: 200px;
                    height: 200px;
                    border-radius: 7px;
                }
            }

            .product-images{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 7px;
                    margin-bottom: 10px;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;

                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }

            .product-desc{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                .name{
                    font-size: 1.8rem;
                    font-weight: 500;
                    font-family: 'Product Sans';
                    color: #000;
                    text-transform: uppercase;
                    text-align: center;
                    margin-bottom: 5px;
                }

                .desc{
                    font-size: 1rem;
                    font-weight: 500;
                    font-family: 'Product Sans';
                    color: #000;
                    text-align: center;
                    margin-bottom: 20px;
                }

                .rating{
                    color: #d9e710;
                    margin-bottom: 20px;
                }

                .price{
                    font-size: 1.5rem;
                    font-weight: 500;
                    font-family: 'Product Sans';
                    color: #000;
                    text-align: center;
                    margin-bottom: 5px;
                }

                .discount{
                    font-size: 1.1rem;
                    font-weight: 500;
                    font-family: 'Product Sans';
                    color: #000;
                    text-align: center;
                    margin-bottom: 20px;
                }

                .choices{
                    margin-top: 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    .choice{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        margin-bottom: 30px;

                        .choice-heading{
                            font-size: 1.1rem;
                            font-weight: 600;
                            font-family: 'Product Sans';
                            color: #000;
                            text-align: start;
                            margin-right: 10px;
                            width: 50px;
                        }

                        .choice-option{
                            width: 60px;
                            position: relative;

                            .size{
                                width: 40px;
                                height: 40px;
                                text-align: center;
                                line-height: 40px;
                                font-size: 1.1rem;
                                font-weight: 600;
                                font-family: 'Product Sans';
                                color: #000;
                                border: 1px solid #000;
                            }

                            img{
                                width: 40px;
                                height: 40px;
                                cursor: pointer;
                            }

                            .checked{
                                z-index: 1;
                                position: absolute;
                                top: 45%;
                                left: 34%;
                                transform: translate(-48%, -46%);
                                color: #fff;
                                font-size: 1.2rem;
                                background-color: rgba(0, 0, 0, 0.5);
                                width: 40px;
                                height: 40px;
                                text-align: center;
                                line-height: 50px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        } 

        .addcart{
            margin-top: 30px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;

            button{
                width: 130px;
                height: 30px;
                border-radius: 4px;
                background-color: #000;
                color: #fff;
                font-size: 1.2rem;
                font-weight: 500;
                font-family: 'Product Sans';
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover{
                    background-color: #242525;
                    transform: scale(1.05);
                }
            }
        }
    }

    .cart-card{
        padding: 30px;
        width: 300px;
        border: none;
        border-radius: 7px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);

        @media screen and (max-width: 990px){
            margin-top: 30px;
        }

        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            margin-bottom: 20px;

            .heading{
                font-size: 1.7rem;
                font-weight: 500;
                font-family: 'Product Sans';
                color: #000;
                text-transform: uppercase;
                text-align: center;
            }

            .icon{
                font-size: 1.7rem;
            }
        }

        .no-cart-items{
            font-size: 1.1rem;
            font-weight: 500;
            font-family: 'Product Sans';
            color: #000;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 500px;
        }

        .cart-items{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            height: 500px;
            padding: 10px;
            overflow-y: scroll;

            // custom scrollbar
            &::-webkit-scrollbar {
                width: 7px;
            }
            
            &::-webkit-scrollbar-track {
                background: #414141; 
            }

            &::-webkit-scrollbar-thumb {
                background: #181717; 
            }

            .cart-item{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: flex-start;
                position: relative;
                margin-bottom: 10px;

                .close{
                    position: absolute;
                    top: -10px;
                    left: -10px;
                    color: #ee3d26;
                    font-size: 1.3rem;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;

                    &:hover{
                        transform: scale(1.1);
                    }
                }

                .image{
                    display: flex;
                    width: 170px;
                    height: 130px;

                    img{
                        width: 100%;
                        height: 100%;
                    }
                }

                .details{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin-left: 20px;
                    font-family: 'Product Sans';
                    font-size: 1rem;
                    font-weight: 500;

                    .detail{
                        margin-bottom: 5px;
                    }
                }
            }
        }

        .details{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 20px;

            .home{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                font-weight: 500;
                font-family: 'Product Sans';
                color: #000;
                cursor: pointer;
            }

            .date{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                font-weight: 500;
                font-family: 'Product Sans';
                color: #000;
            }
        }

        .cart-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 20px;

            button{
                width: 140px;
                height: 40px;
                border-radius: 4px;
                background-color: #000;
                color: #fff;
                font-size: 1.2rem;
                font-weight: 500;
                font-family: 'Product Sans';
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover{
                    background-color: #242525;
                    transform: scale(1.05);
                }
            }
        }
    }
}