@font-face {
    font-family: 'Product Sans';
    src: url(../../assets/fonts/Product_Sans.ttf);
}

@font-face {
    font-family: 'Gobold';
    src: url(../../assets/fonts/Gobold_Regular.otf);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 50px;

    .logo img{
        width: 50px;
    }

    .nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;

        .nav-item{
            padding: 0 10px;
            font-size: 1.2rem;
            font-weight: 500;
            font-family: 'Product Sans';
            color: #000;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.3ms ease-in-out;
            border: none;
            cursor: pointer;

            &:hover{
                border-bottom: 2px solid #000;
            }
        }

        .active{
            border-bottom: 2px solid #000;
        }
    }

    .logins{
        font-size: 1.2rem;
        font-weight: 500;
        font-family: 'Product Sans';
        color: #000;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3ms ease-in-out;

        &:hover{
            transform: scale(1.1);
        }

        button{
            background: #000;
            color: #fff;
            padding: 10px 20px;
            font-size: 1.2rem;
            font-weight: 500;
            font-family: 'Product Sans';
            border: none;
            cursor: pointer;
            transition: all 0.3ms ease-in-out;

            &:hover{
                background: #fff;
                color: #000;
                border: 1px solid #000;
            }
        }
    }

    .tile{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 150px;

        .user{
            display: flex;
            font-size: 1.2rem;
            font-weight: 500;
            font-family: 'Product Sans';
            color: #000;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.3ms ease-in-out;
            margin-right: 20px;
    
            &:hover{
                transform: scale(1.1);
            }
    
            button{
                background: #000;
                color: #fff;
                padding: 10px 20px;
                font-size: 1.2rem;
                font-weight: 500;
                font-family: 'Product Sans';
                border: none;
                cursor: pointer;
                transition: all 0.3ms ease-in-out;
    
                &:hover{
                    background: #fff;
                    color: #000;
                    border: 1px solid #000;
                }
            }
        }

        .logout{
            font-size: 1.1rem;
            font-weight: 500;
            font-family: 'Product Sans';
            cursor: pointer;
            transition: all 0.3ms ease-in-out;
            background-color: #000;
            color: #fff;
            padding: 10px 10px;
            border: none;
            transition: all 0.3ms ease-in-out;
    
            &:hover{
                background: #fff;
                color: #000;
                border: 1px solid #000;
            }
        }
    }
}